# Cellular nuclie semantic segmentation - Medical imaging
- Kaggle: 2018 Data Science Bowl

In [21]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from glob import glob
import os
from skimage.io import imread
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
dsb_data_dir = os.path.join('data/')
stage_label = 'stage1'

In [22]:
train_labels = pd.read_csv(os.path.join(dsb_data_dir,'{}_train_labels.csv'.format(stage_label)))
train_labels['EncodedPixels'] = train_labels['EncodedPixels'].map(lambda ep: [int(x) for x in ep.split(' ')])
train_labels.sample(3)

,ImageId,EncodedPixels
17304,953211bcc0192e2298087d30e708dba68def9e0c13a3ff...,"[12044, 4, 12296, 11, 12550, 17, 12804, 20, 13..."
22360,be26966900aa0e5b41d5a8ecafe04281b37deb05c5cd02...,"[15510, 4, 15765, 6, 16020, 7, 16275, 8, 16531..."
11154,5afb7932e9c7328f4fb1d7a8166a3699d6cdc5192b9375...,"[69587, 19, 70106, 22, 70625, 24, 71144, 27, 7..."

In [23]:
all_images = glob(os.path.join(dsb_data_dir, 'stage1_*', '*', '*', '*'))
print(all_images[0:2])

['data\\stage1_test\\0114f484a16c152baa2d82fdd43740880a762c93f436c8988ac461c5c9dbe7d5\\images\\0114f484a16c152baa2d82fdd43740880a762c93f436c8988ac461c5c9dbe7d5.png', 'data\\stage1_test\\0999dab07b11bc85fb8464fc36c947fbd8b5d6ec49817361cb780659ca805eac\\images\\0999dab07b11bc85fb8464fc36c947fbd8b5d6ec49817361cb780659ca805eac.png']

In [26]:
img_df = pd.DataFrame({'path': all_images})
img_df.head()

                                                path
0  data\stage1_test\0114f484a16c152baa2d82fdd4374...
1  data\stage1_test\0999dab07b11bc85fb8464fc36c94...
2  data\stage1_test\0a849e0eb15faa8a6d7329c3dd66a...
3  data\stage1_test\0e132f71c8b4875c3c2dd7a229974...
4  data\stage1_test\0ed3555a4bd48046d3b63d8baf03a...

In [42]:

img_id = lambda in_path: in_path.split('\\')[-3]
img_type = lambda in_path: in_path.split('\\')[-2]
img_group = lambda in_path: in_path.split('\\')[-4].split('_')[1]
img_stage = lambda in_path: in_path.split('\\')[-4].split('_')[0]

In [44]:
img_df['ImageId'] = img_df['path'].map(img_id)
img_df['ImageType'] = img_df['path'].map(img_type)
img_df['TrainingSplit'] = img_df['path'].map(img_group)
img_df['Stage'] = img_df['path'].map(img_stage)

In [45]:
img_df.head()

,path,ImageId,ImageType,TrainingSplit,Stage
0,data\stage1_test\0114f484a16c152baa2d82fdd4374...,0114f484a16c152baa2d82fdd43740880a762c93f436c8...,images,test,stage1
1,data\stage1_test\0999dab07b11bc85fb8464fc36c94...,0999dab07b11bc85fb8464fc36c947fbd8b5d6ec498173...,images,test,stage1
2,data\stage1_test\0a849e0eb15faa8a6d7329c3dd66a...,0a849e0eb15faa8a6d7329c3dd66aabe9a294cccb52ed3...,images,test,stage1
3,data\stage1_test\0e132f71c8b4875c3c2dd7a229974...,0e132f71c8b4875c3c2dd7a22997468a3e842b46aa9bd4...,images,test,stage1
4,data\stage1_test\0ed3555a4bd48046d3b63d8baf03a...,0ed3555a4bd48046d3b63d8baf03a5aa97e523aa483aaa...,images,test,stage1

In [10]:
all_images

[]